@model IEnumerable<Vidly.Models.Movie>
@{
    ViewData["Title"] = "Movies";
}

<h1>Movies</h1>

@if (!Model.Any())
{
    <text>There are no movies</text>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Movie</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                
                <tr>
                    <td>@Html.ActionLink(movie.Name, "Details", "Movies", new { id = movie.Id}, null)</td>
                    <td>@movie.Name</td>
                </tr>
            }
        </tbody>
    </table>
}



